@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.change{
  transition: all 0.5s ease;
}
.change:hover{
   background-color: #262837!important;
}

.family{
  font-family: 'Poppins', sans-serif;
}
input{
  padding: 0 1em;
 }

 ::-webkit-scrollbar{
  width: 0.5em;
 }
 ::-webkit-scrollbar-thumb{
  background-color: #000;
 }